    header {
      text-align: center;
      background: url("https://d3ui957tjb5bqd.cloudfront.net/uploads/2016/11/bouncy.gif");
      background-position:center center ;
      background-size: cover;
      color: white;
      font-family: 'Lobster Two', cursive;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 70px;
      font-family: 'Aref Ruqaa', serif;
    }
    img {
      margin: 0px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 60px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
